<!DOCTYPE html>
<html>
  <head>
    <title>DrumKick</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'https://www.songkick.com/favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
